<div class="selpwrap">
<ul class="list-unstyled selful">
  <% posts.each do |post| %>
    <li class="media mb-3">

      <div class="media-body post-list">
        <div>
        <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        </div>
       
         <div class="selfpostomg"><%= link_to (image_tag post.image.url if post.image?), post_path(post.id) %></div>
           <div class="selfpostcomment">
             <p class="mb-0"><%= post.self_comment %></p>
           </div>
      
        <div class="btnpostion">
          <% if current_user == post.user %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
        
      <%= render 'favorites/favorite_button', post: post %>
        </div>
      </div>
    </li>
  <% end %>


</ul>
</div>