<div class="toparea">
    <img src="../img/img1.jpg">
</div>

<div class="wrapitem">
<div class="flex">


  <% posts.each do |post| %>
        <div class="items card">
           <div class ="img"><%= image_tag post.image.url if post.image? %></div>
          <div class="userimg"><img class="grav" src="<%= gravatar_url(post.user) %>" ></div>
          <div class="username"><%= link_to post.user.name, user_path(post.user) %></div> 
          <div class="comment"><%= post.self_comment %></div>
        </div>
  <% end %>
  
  
 </div>
  <%= paginate posts %>
</div>