<h1>Posts>Show.htmlのページ</h1>
<!--<p id="notice"><%= notice %></p>--><div class="toparea">
     
    </div>
<div id="wrapper">
<div class="main">
  <div class="eachpostimg"><%= image_tag @post.image.url if @post.image? %></div>
  <div class="postcommnet userimgflex">
  
  <div class="userimg mainuserimg"><img class="grav" src="<%= gravatar_url(@post.user) %>" ></div>
  <div class="commentarea">
  <p><%= @post.self_comment %></p>
  </div>
  </div>
  
</div>
<div class="aside">
<table class="table">
<tr>
<td><%= @post.user.name %></td>
</tr>
<tr>
<td><%= @post.user.comment %></td>
</tr>
</table>
</div>

 
</div>


<div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
</div>