
<div class="toparea"></div>
<div id="wrapper">
<div class="main">
  <div class="eachpostimg"><%= image_tag @post.image.url if @post.image? %>
  </div>
  <div class="postcommnet userimgflex">
  
  <div class="userimg mainuserimg"><img class="grav" src="<%= gravatar_url(@post.user) %>" >
  <%= link_to @post.user.name, user_path(@post.user) %>
  
  <!--ログインユーザのみ投稿の編集可能-->
    <% if current_user == @post.user %>
    <div class="btn btn-sm btn-light btn-edit">
    <%= link_to '編集', edit_post_path(@post) %>
    </div>
  <% end %>

  <!--ログインユーザのみ投稿編集可能終了-->
  </div>
  
  <div class="commentarea"><p><%= @post.self_comment %></p></div>
  </div>
  
</div>
<div class="aside">
<table class="table">
<tr>
<td>
<div><img class="postuserphoto namewrap" src="<%= gravatar_url(@post.user) %>" >
<%= link_to @post.user.name, user_path(@post.user) %></div>
<div class="post-follow"><%= render 'relationships/follow_button', user: @post.user %></div>
</td>


</tr>
<tr>
<td><div class="postintroarea">  <%= @post.user.comment %></div></td>
</tr>
<tr>
 <td> <div class="post-fav">投稿がよかったらLikeしよう！</div>
 <%= render 'favorites/favorite_button', post: @post %>
 </td></tr>

</table>
</div>


</div>


