<h1>Posts>Show.htmlのページ</h1>
<!--<p id="notice"><%= notice %></p>-->
<div class="toparea"></div>
<div id="wrapper">
<div class="main">
  <div class="eachpostimg"><%= image_tag @post.image.url if @post.image? %>
  </div>
  <div class="postcommnet userimgflex">
  
  <div class="userimg mainuserimg"><img class="grav" src="<%= gravatar_url(@post.user) %>" >
  <%= link_to @post.user.name, user_path(@post.user) %>
  <!--ログインユーザのみ投稿の編集可能-->
  <div class="btn btn-sm btn-light btn-edit">
  <% if current_user == @post.user %>
    <%= link_to 'Edit', edit_post_path(@post) %> 
  <% end %>
  </div>
  <!--ログインユーザのみ投稿編集可能終了-->
  </div>
  <div class="commentarea">
  <p><%= @post.self_comment %></p>
  </div>
  </div>
  
</div>
<div class="aside">
<table class="table">
<tr>
<td>
<img class="postuserphoto" src="<%= gravatar_url(@post.user) %>" ></div>
<%= link_to @post.user.name, user_path(@post.user) %>


</tr>
<tr>
<td>
  <div class="postintroarea">  <%= @post.user.comment %></div></td>
</tr>
</table>
</div>


</div>


